.wrapper {
  background-color: #0d2f3f;
  color: #fff;

  .container {
    gap: 2rem;
    display: flex;
    justify-content: space-between;

    .left {
      .primaryText {
        font-size: 1.5rem;
        color: #fff;
      }

      a {
        color: orange;
        text-decoration: underline;
        &:hover {
          color: orange;
        }
      }
    }

    .right {
      .info {
        font-size: 1rem;
        color: #bbb;

        a {
          color: orange;
          &:hover {
            color: #fff;
          }
        }
      }

      .menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        li {
          a {
            color: #fff;
            text-transform: uppercase;
            &:hover {
              color: orange;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  }
  .phone {
    cursor: pointer;
  }
}
